<div class="row justify-content-between col-12 ml-lg-2">
    {{#each ents}}
        <div class="card mt-4 ml-lg-2 col-lg-4 col-md-5 col-sm-12">
            <a href="/ents/{{this.value}}">
                <img
                    class="card-img-top mt-4"
                    src="{{this.img}}"
                    alt="Card image cap"
                />
            </a>
            <div class="card-body">
                <a href="/ents/{{this.value}}">
                    <h5 class="card-title">{{this.industry_name_ANZSIC}}</h5>
                </a>
                <p class="card-text">{{this.variable}}</p>
                <div
                    class="row col-12 justify-content-between align-items-center"
                >
                    <a href="#" class="btn btn-primary col-5">{{this.value}}</a>
                    <a href="#" class="btn btn-primary col-5">{{this.unit}}</a>
                </div>
            </div>
        </div>
    {{/each}}
</div>